<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812073862012-m97evc1kgldubvhsi7h4gv6eab0mon8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812073862012-m97evc1kgldubvhsi7h4gv6eab0mon8u</string>
	<key>API_KEY</key>
	<string>AIzaSyBrF0tuL3ZjvS8cZr5dv6ixjaNu35WhFXc</string>
	<key>GCM_SENDER_ID</key>
	<string>812073862012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.ak.WatchChainIOS</string>
	<key>PROJECT_ID</key>
	<string>watchchainioslogin</string>
	<key>STORAGE_BUCKET</key>
	<string>watchchainioslogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812073862012:ios:5b573556a6f6edf2d2daf9</string>
</dict>
</plist>